test.txt
text-editor2/six-1.16.0-py2.py3-none-any.whl
text-editor2/wxPython-4.2.1.tar.gz
text-editor2/wxPython-4.2.1-cp311-cp311-linux_x86_64.whl
text-editor2/pillow-10.3.0-cp311-cp311-manylinux_2_28_x86_64.whl
text-editor2/numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
text-editor2/build.log